[package]
name = "cview"
version = "0.1.0"
edition = "2021"

[dependencies]
# winit = "0.29"
# wgpu = "0.19"
# pollster = "0.3"
# bytemuck = { version = "1.14", features = ["derive"] }
gtk4 = "0.10.3"
cairo-rs = { version = "0.21", features = ["pdf", "png"] }
spglib = "1.15.1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
directories = "5.0"
