[package]
name = "cview"
version = "0.1.0"
edition = "2021"

[dependencies]
# winit = "0.29"
# wgpu = "0.19"
# pollster = "0.3"
# bytemuck = { version = "1.14", features = ["derive"] }
gtk4 = { version = "0.8", features = ["v4_6"] }
cairo-rs = { version = "0.19", features = ["pdf", "png"] }
gdk4 = "0.8"
spglib = "1.15.1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
directories = "5.0"
plotters = "0.3"
plotters-cairo = "0.6"
nalgebra = "0.32"
num-complex = "0.4"
